@model IEnumerable<ALvl_ExamProject.MVC.Models.SidebarPL>

<h4>Promos</h4>

<p>Best products of the week:</p>
@foreach (var item in Model)
{
    @Html.Raw(item.Body)
    <br />
    <hr class="col-md-12" />
}
