@model ALvl_ExamProject.MVC.Models.PagePL

@{
    ViewBag.Title = ViewBag.PageTitle;
    if (Model.Slug == "home")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    }

}
<h4>@ViewBag.PageTitle</h4>
        @Html.Raw(Model.Body)
