@model IEnumerable<ALvl_ExamProject.MVC.Models.CategoryPL>

    <ul class="nav justify-content-center" style="padding-right:20px ">
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <b><a class="nav-link active" href="/shop/category/@item.Slug">@item.Name</a></b>
            </li>
        }
    </ul>
