@model IEnumerable< ALvl_ExamProject.MVC.Models.CategoryPL>

    <h4>Category</h4>
    <hr />
 
@foreach (var item in Model)
{
    <a class="list-group-item list-group-item-action" href="/shop/category/@item.Slug">@item.Name</a>
}
