@model IEnumerable<ALvl_ExamProject.MVC.Models.ProductPL>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h2>@ViewBag.CategoryName</h2>


@Html.Action("PaginatedPage", new { listProducts = Model.ToList() })