body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    word-wrap: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table.sorting tr:not(.home){
    cursor: pointer;
}

.new-cat{
    margin-top: 30px;
    position: relative;
}

.ajax-text{
    display: none;
}

ul.nav.nav-tabs li:not(.active) a {
    background-color: #eeeeee;
    color: grey;
}

ul.nav.nav-tabs li:active a {
    border-top: 3px solid forestgreen;
}

.sorting tr:hover{
    background-color: #0094ff;
    color:aliceblue;
}

div.ajaxmsg{
    background:green;
    color: white;
    padding: 10px;
    display:none;
}

span.loading{
    display: none;
}

.inlineblock{
    display:inline-block !important;
    margin-top: 10px;
}

.navbar-nav li{
    padding-right: 20px
}

.nav-link 
{
    font-size: 1.1em !important
}

.carousel-inner{
    height:500px;
}

.carousel-inner img{
    width: 100%;
}

.carousel-caption {
    position:absolute;
    top:60%;
    transform: translateY(-80%);
    text-shadow: 1px 1px 10px #000000
}

@media (max-width: 450px){
    .carousel-caption .display-2{
        font-size: 3em;
    }
}


